{{extend 'layout.html'}}

<!--<script>
    var questionNum=1;
   function addQuestion()
    {
        var question = "<div id='Q".concat(questionNum+1).concat(
            "'>Question ").concat(questionNum+1).concat(
            "<input name='question").concat(questionNum+1).concat(
            "'><br />Answers: <input name='answer").concat(questionNum+1).concat(
            "_1'><br /><input name='answer").concat(questionNum+1).concat(
            "_2'><br /><input name='answer").concat(questionNum+1).concat(
            "_3'><br /><input name='answer").concat(questionNum+1).concat(
            "_4'><br /><input name='answer").concat(questionNum+1).concat(
            "_5'>");
            
        $("#Q".concat(questionNum)).append(question);
        questionNum++;
            
    }
</script> -->
{{=form}}
