{{extend 'layout.html'}}
<style>
</style>
<h1>
    {{=quiz.name}}
</h1>
<h3>
    {{=qnum}}) {{=question.question}}
</h3>
{{if owner==True:}}
    <ol type='a'>
    {{for answer in question.answers:}}
        <li>{{=answer}}</li>
    {{pass}}
    </ol>
    {{if question.active:}}
        {{=FORM(INPUT(_value="Stop", _name="stop", _type="submit"))}}
    {{else:}}
        {{=FORM(INPUT(_value="Start", _name="start", _type="submit"))}}
    {{pass}}
{{else:}}
    {{letter='a'}}
    {{for answer in question.answers:}}
        {{=FORM(INPUT(_value=letter, _name="submitAnswer", _type="submit", _style="display:inline;"), _style="display:inline;")}} {{=answer}}<br />
        {{letter=chr(ord(letter)+1)}}
    {{pass}}
{{pass}}
{{if int(qnum) > 1:}}
    <a class="btn" href={{=URL('quizzes','take', vars={'id':quiz.id,'q':int(qnum)-1})}}>Prev</a>
{{pass}}
{{if int(qnum) < len(quiz.questions):}}
    <a class="btn" href={{=URL('quizzes','take', vars={'id':quiz.id,'q':int(qnum)+1})}}>Next</a>
{{pass}}
